html {
  height: 100%;
}
body, section{
  min-height: 80%;
}

.tbl {
  max-width: 66px;
  position: relative;
}

.tbl div{
  float:left;
  clear:none;
  width:20px;
  height:20px;
  border:1px solid grey;

}

footer {
  position:absolute;
  bottom:20%;
  width:100%;
  height:60px;
}

footer div{
  float:left;
  clear:none;
  width:20px;
  height:20px;
  border:1px solid black;
  margin: 5px;
}

.curclr{
  float:left;
  clear:none;
  width:60px;
  height:20px;
  border:1px solid black;
  margin: 5px;
}
